
body{background-color:#b1b1a0;margin: 0
} 

.container{margin: 0;
    font-size: 30px;
    text-align: center;
    background-color: #c7bfb4;
    line-height: 2.; width: 1900px; 
} 
h1 {
   text-align: center;
    font-size: xxx-large;
    margin: 0;    background-color: #94826a;
 
}
}
p{}
.a1{color:white
 ;


}
.a2{color:white



}

.a4{color:white



	}color:white




}

.bgcolor1{background-color: red ; background-color: red;
    width:1900px; float: left;}



.pic{  }